html, body {
    margin:0px;
    padding:0px;
    background-color:#333333;
    }
        
    #menuOr {
    text-align:center;
    background-color:#666;
    }
        
    #menuOr ul {
    margin:0px;
    padding:0px;
    overflow:hidden;
    list-style-type:none;
    }
        
    #menuOr ul a:link , ul a:visited{
        display:block;
        padding:10px;
        text-decoration:none;
        color:white;
        text-transform:uppercase;
        font-size: 20px;
    }
        
    #menuOr ul a:hover {
    background-color:grey;
    }
        
    #menuOr ul li{
    float:left;
    width:150px;
    }
    
    #titolo{
        
        text-align: center;
        color: white;
        font-size: 80px
    }

    #descrizione{
        color: white;
        font-family: cursive;
    }
    
    #copyright{
        background-color: rgb(88, 1, 88);
        color: white;
        font-size: 16px;
    }

   