body {
margin:0px;
padding:0px;
background-size: unset;
background-image: url(IndexImg/jarvis.gif);
background-color: black;
background-repeat: no-repeat;
background-size: 1900px;
text-align: center;
color: black;
font-size: 50px;
}

#scermata_caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-color: black;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-image: url(IndexImg/Loading.gif); 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100vw;
}


#menuOr {
text-align:center;
}
    
#menuOr ul {
margin:0px;
padding:0px;
overflow:hidden;
list-style-type:none;
}
    
#menuOr ul a:link , ul a:visited{
display:block;
padding:10px;
text-decoration:none;
font-weight: bold;
color:rgb(255, 255, 255);
text-transform:uppercase;
font-size: 20px;
}
    
#menuOr ul a:hover {
background-color:rgba(0, 102, 128, 0.568)
}
    
#menuOr ul li{
float:left;
width:150px;
}
#titolo{
    color:brown;
    font-size: 80px;
    text-align: center;
}

#copyright{
    background-color: rgba(1, 88, 78, 0.383);
    color: white;
    font-size: 20px;
    text-align: left;
}
