html, body {
    margin:0px;
    padding:0px;
    background-color:#333333;
    }
        
    #scermata_caricamento{
        width: 100vw;
        height: 100vw;
        position: fixed;
        background-color: black;  
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #caricamento{
        width: 100vw;
        height: 100vw;
        position: fixed;
        background-image: url(IndexImg/Loading.gif); 
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: 100vw;
    }

    #menuOr {
    text-align:center;
    background-color:#666;
    }
        
    #menuOr ul {
    margin:0px;
    padding:0px;
    overflow:hidden;
    list-style-type:none;
    }
        
    #menuOr ul a:link , ul a:visited{
        display:block;
        padding:10px;
        text-decoration:none;
        color:white;
        text-transform:uppercase;
        font-size: 20px;
        }
        
    #menuOr ul a:hover {
    background-color:grey;
    }
        
    #menuOr ul li{
    float:left;
    width:150px;
    }

    #titolo{
        color: white;
        font-size: 80px;
        text-align: center;
    }

    #passioni{
        color: white;
        font-family: cursive;
        font-size: 20px;
    }

    #copyright{
        background-color: rgb(88, 1, 88);
        color: white;
        font-size: 16px;
    }


    
