body{
    background-color: rgb(215, 215, 215);
    margin: 0%;
    padding: 0%;
    border: 0px;
}
#output{
    font-weight: bold;
    font-size: 20px;
}

#titolo{
    color:dodgerblue;
    font-size: 30px;
    font-weight: bold;
}

#copyright{
    background-color:rgba(27, 169, 172, 0.724);
    color: white;
    font-family: cursive;
    font-size: 12px;
}