body{
    text-align: center;
    background-image: url(Bar/Generale/Sfondo.jpg);
    margin-top: 350px;

}

#scermata_caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-color: white;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-image: url(Bar/Schermata\ di\ Caricamento.gif); 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 80vw;
}

#Menu{
    font-size: 100px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color: rgb(48, 47, 47);
   
}

#hormenu {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid black;
    }

    #hormenu li
    {
    margin: 0;
    padding: 0;
    border-right: 1px solid black;
    color:black;
    }

#hormenu a
{
display: block;
padding: 5px;
color: #000;
text-decoration: none;
font-size: 45px;
}
#hormenu a:hover
{
background-color: #000033;
color: #FFFFFF;
text-decoration: none;
}

#hormenu li ul
{
display: none
}

#hormenu li:hover ul
{
display: block;
padding: 0;
margin: 0 0 0 -1px;
border:1px solid black;
background: #ffde59;
}

#hormenu li li { border:none; ; }
#hormenu li li a { padding:2px 2px 2px 10px; }