body{
    
    margin: 0;
    background-color: #fff3ee;
    text-align: center;
    
}

#scermata_caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-color: #fff3ee;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#caricamento{
    width: 100vw;
    height: 100vw;
    position: fixed;
    background-image: url(Bar/Schermata\ di\ Caricamento.gif); 
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 80vw;
}
#titolo{
    background-color: #ffde59;
    font-size: 60px;
    text-align: center;
}
table{
    text-align: center;
    padding: 5px;
}

#nome{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

#prezzo{
    color: rgb(255, 67, 67);
    font-size: 25px;
}
